

.wrapper .title{
    margin-top: 100px;
    height: 90px;
    background: #F28123;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 460px;

  }


  .wrapper form{
    padding: 30px 25px 25px 25px;
    background-color: #fff;
    box-shadow: 0px,5px,10px,rgba(0,0,0,0.3);
    
    
    
  }
  .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
    max-width: 450px;
    
  }
  .container {

    box-shadow: 0px,5px,10px,rgba(0,0,0,0.3);


  }

  form .row input:focus{
    border-color: #F28123;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);

  }
  form .row input::placeholder{
    color: #999;
  }
  .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #F28123;
    border: 1px solid #F28123;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass{
    margin: -8px 0 20px 0;
  
  }
  .wrapper form .pass a{
    color: #F28123;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover{
    text-decoration: underline;
  }
  .wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #F28123;
    border: 1px solid #F28123;
    cursor: pointer;
  }
  form .button input:hover{
    background: #12876f;
  }
  .wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapper form .signup-link a{
    color: #F28123;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }

  .center-login{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
  }

  .form .btn {
    font-family: 'Poppins', sans-serif;
    background: #F28123;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 5px 0;
    transition: 0.3s all ease;
}

.form .btn:hover, .btn:focus {
    background: transparent;
    border-color: #F28123;
    color: #F28123;
}


.wrapper .form p {
    margin: 5px 0;
    text-align: center;
}

.wrapper .form p a {
    text-decoration: none;
    color: #333;
    transition: 0.3s all ease;
}

.wrapper .form p a:focus, .wrapper .form p a:hover {
    color: #F28123;
}

.row .input-label {
  display: block;
  font-size: 15px;
  margin-bottom: 2px;
}


.row .input {
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(250, 126, 10);
  background: transparent;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  transition: 0.3s all ease;
}