.title-bar,
.legend_header,
.ui-accordion-header,
.powered-by,
.query-result-table-header,
.close-query-result-btn,
.map-header-menu,
.tool-menu {
 color:#fff !important
}
.search_box_container {
 border:1px solid #FFF
}
.border-bottom-themed {
 border-bottom:1px solid rgba(255,255,255,0.5)
}
.border-top-themed {
 border-top:1px solid rgba(255,255,255,0.5)
}
.border-right-themed {
 border-right:1px solid rgba(255,255,255,0.5)
}
.tool-menu .item-menu {
 border-bottom:1px solid rgba(255,255,255,0.5)
}
.map-header-menu .menu_item:first-child {
 border-left:1px solid rgba(255,255,255,0.5)
}
.map-header-menu .menu_item {
 border-right:1px solid rgba(255,255,255,0.5)
}
.leaflet-control-scale-line {
 border-left:2px solid #fff;
 border-right:2px solid #FFF;
 border-bottom:2px solid #fff;
 color:#FFF;
 text-shadow:none
}
.leaflet-control-scale-line:not(:first-child) {
 border-top:2px solid #fff;
 color:#FFF;
 text-shadow:none
}
.closible-icon {
 background-position:-682px -4px
}
.closible-icon-left {
 background-position:-667px -4px !important
}
.map_logo {
 vertical-align:top
}
.down-arrow-menu {
 background-position:-665px -2px;
 width:10px
}
.up-arrow-menu {
 background-position:-681px -2px
}
.map_header>.flash-screen-container {
 color:#FFF
}
