.kite {
    display: table;
    width: 100%;
}


.map-header-menu {
    height: 36px;
    background-color: #4CAF50

    
}

.class {
    position: relative;
    z-index: 1;
    background-attachment: fixed;

}

.feature-bg {
    position: relative;
    margin: 150px 0;
    background-color: red;
  }
 
  